:root{
    color-scheme: light dark;
    --dark-color: hsl(0 0% 10%);
    --light-color: hsl(0 0% 97%);
}

html{
    color: light-dark(var( --dark-color), var(--light-color));
    background-color: light-dark(var(--light-color), var( --dark-color));
    
}

[data-dark="true"]{
    color-scheme: dark;
}


[data-dark="false"]{
    color-scheme: light;
}

.card{
     max-width: 29em; 
}

.card__more{
    width: 100%;
    display: flex;
    justify-content: space-between;
}



img{
    max-width: 100%;
}

.grid{
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 5%;
}


section{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

section img{
    width: 30em;
}

.textarea{
    width: 30em;
   
}


.dest {
  text-align: center;
}